<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"></meta>
    <title>Spring Boot Sample Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.js}"/>
</head>
<body>
<div class="container">
    <h2>Products</h2>
    <hr/>
    <div th:if="${#lists.isEmpty(products)}" class="col-sm-12">
        <p>-- No products available! --</p>
    </div>
    <div th:if="${not #lists.isEmpty(products)}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image Url</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product:${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.imageUrl}"></td>
                    <td>
                        <a th:href="${'/product/'+product.id}">View</a>
                        <a th:href="${'/product/edit/'+product.id}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--<div class="col-sm-12">
        <a th:href="<spring:url value="/product?page=${page.number - 1}"/>">Previous</a>
        <a th:href="<spring:url value="/product?page=${page.number + 1}"/>">Next</a>
    </div>-->
    <hr/>
    <div class="col-sm-12">
        <a th:href="${'/product/new'}">Create new product</a>
    </div>

</div>
</body>
</html>