<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"></meta>
    <title>Spring Boot Sample Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.js}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Product Details</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" th:object="${product}" th:action="@{/product}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{description}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{price}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Url</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{imageUrl}"/>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-default"></input>
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <a th:href="${'/products'}">Return to products</a>
        </div>
    </div>

</div>
</body>
</html>