<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"></meta>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.js}"/>
</head>
<body>
<div class="container">
    <h2>Spring boot sample application</h2>
    <hr/>
</div>
</body>
</html>